EMAIL_SENDER=tvuj@gmail.com
EMAIL_PASSWORD=app-heslo-z-google
EMAIL_RECIPIENT=tvuj@email.cz
WHATSAPP_TOKEN=EAAxxxxxxx
WHATSAPP_PHONE_ID=12345678901234
WHATSAPP_RECIPIENT=420605349888
ANTHROPIC_API_KEY=sk-ant-xxxxxxx
